html,
body{
    background-color: $colorLightestGray;
    font-family: $fontRoboto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
.github-badge{
    z-index: 100;
    top: 45px;
    right: -78px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    width: 300px;
    text-align: center;
    @media(max-width: 767px){
        display: none;
    }
    a{
        transition: $transitionNormal;
        color: $colorWhite;
        font-size: 18px;
        padding: 10px;
        display: block;
        text-decoration: none;
        background-color: $colorBrand;
        &:hover{
            background-color: darken($colorBrand, 10%);
        }
    }
}
.content{
    height: calc(100vh - 63px);
    .quotes{
        height: 100%;
        .container{
            height: 100%;
            .row{
                height: 100%;
                .col-12{
                    height: 100%;
                    .quote{
                        font-size: 36px;
                    }
                    .track-title{
                        font-family: $fontRobotoCondensed;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}